<h4 class="text-center">Forget Password</h4>
<div class="row">
<div class="container text-center">
        <mat-form-field>
                <input matInput placeholder="Enter your registered email" [formControl]="email" required>
               <mat-error *ngIf="email.hasError('email')">Please Enter a valid Email adderess</mat-error>
               <mat-error *ngIf="email.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
              </mat-form-field>
<br>
              <button mat-raised-button color="accent" (click)="submit()">Send Recovery Email</button>        
</div>
</div>
