<h1>Issue tracking Tool Change Password</h1>
<mat-card>
    <div class="container">
        <form [formGroup]="form">
        <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                     </button> 
                    </mat-form-field>
                    </form>
</div>
<div>
    <form [formGroup]="form">
                    <mat-form-field>
                            <input matInput placeholder="Confirm your password" [type]="hide ? 'password' : 'text'" formControlName="confirm">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                 </button> 
                                </mat-form-field>
                                </form>
                                </div>

                        <button class="btn btn -primary" (click)="submit()">Change Password</button>
                        
</mat-card>